<!DOCTYPE HTML>
<html>
    <%include partials/header.ejs %>
        <h1 class="jumbotron"> Neptune </h1>
    <% include partials/nav %>

        <p class="text-primary">After the discovery of Uranus, it was noticed that 
        its orbit was not as it should be in accordance with Newton’s laws. 
        It was therefore predicted that another more distant planet must be 
        perturbing Uranus’ orbit. Neptune was first observed by Galle and d’Arrest
        on 1846 Sept 23 very near to the locations independently predicted by 
        Adams and Le Verrier from calculations based on the observed positions
        of Jupiter, Saturn and Uranus. An international dispute arose between
        the English and French (though not, apparently between Adams and Le
        Verrier personally) over priority and the right to name the new planet;
        they are now jointly credited with Neptune’s discovery. Subsequent 
        observations have shown that the orbits calculated by Adams and Le Verrier
        diverge from Neptune’s actual orbit fairly quickly. Had the search for 
        the planet taken place a few years earlier or later it would not 
        have been found anywhere near the predicted location.</p>
        
            <img src="/img/neptune.png" alt="neptune"/>
    <% include partials/footer %>
