<!DOCTYPE HTML>
<html>
    <%include partials/header.ejs %>
        <h1 class="jumbotron"> Saturn </h1>
    <% include partials/nav %>
        <p class="text-primary">Saturn has been known since prehistoric times.
        Galileo was the first to observe it with a telescope in 1610; he 
        noted its odd appearance but was confused by it. Early observations 
        of Saturn were complicated by the fact that the Earth passes through 
        the plane of Saturn’s rings every few years as Saturn moves in its orbit. 
        A low resolution image of Saturn therefore changes drastically.
        It was not until 1659 that Christiaan Huygens correctly inferred 
        the geometry of the rings. Saturn’s rings remained unique in the
        known solar system until 1977 when very faint rings were discovered
        around Uranus (and shortly thereafter around Jupiter and Neptune).</p> 

        <img src="/img/saturn.png" alt="saturn"/>
    <% include partials/footer %>
