<!DOCTYPE HTML>
<html>
    <%include partials/header.ejs %>
        <h1 class="jumbotron"> Uranus </h1>
    <% include partials/nav %>

        <p class="text-primary">Uranus is the seventh planet discovered in 
        the Solar System that also led to the discovery of the last planet, 
        Neptune they are both referred to as ice giants. 
        Officially recognized in 1781 after many observations in the past,
        it is the third largest planet of the Solar System.</p>
        
        <img src="/img/uranus.png" alt="uranus"/>
    <% include partials/footer %>
