<!DOCTYPE HTML>
<html>
    <%include partials/header.ejs %>
    <body>
        <h1 id="planetTitle"> Venus </h1>
        <p id="planetInfo">Venus has been known since prehistoric times.
        It is the brightest object in the sky except for the Sun and the Moon.
        Like Mercury, it was popularly thought to be two separate bodies: 
        Eosphorus as the morning star and Hesperus as the evening star,
        but the Greek astronomers knew better.
        (Venus’s apparition as the morning star is also sometimes called Lucifer.)</p>   
        <p>Click on a planet to know more about it:</p>
        
            <a href="/mercury.html"> Mercury </a><br>
            <strong> Venus </strong><br>
            <a href="/earth.html"> Earth </a><br>
            <a href="/mars.html"> Mars </a><br>
            <a href="/jupiter.html"> Jupiter </a><br>
            <a href="/saturn.html"> Saturn </a><br>
            <a href="/uranus.html"> Uranus </a><br>
            <a href="/neptune.html"> Neptune </a><br>
            
            <img src="/img/venus.png" alt="venus"/>
    <% include partials/footer %>
