<!DOCTYPE HTML>
<html>
    <%include partials/header.ejs %>
        <h1 class="jumbotron"> Venus </h1>
    <% include partials/nav %>

        <p class="text-primary">Venus has been known since prehistoric times.
        It is the brightest object in the sky except for the Sun and the Moon.
        Like Mercury, it was popularly thought to be two separate bodies: 
        Eosphorus as the morning star and Hesperus as the evening star,
        but the Greek astronomers knew better.
        (Venus’s apparition as the morning star is also sometimes called Lucifer.)</p>   

        <img src="/img/venus.png" alt="venus"/>
    <% include partials/footer %>
